<div class="container">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="(key, value) in manifest">
        {{key}} = {{value}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        DBFluteバージョン <input type="input" ng-model="dbfluteEngine.version" />
        <input type="button" class="btn btn-primary" ng-click="downloadEngine(dbfluteEngine.version)" value="ダウンロード" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        DBFluteダウンロード済
        {{versions}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
        DBFlute最新情報
    </div>
    <div class="col-sm-12">
        1.1系 = {{publicProperties['dbflute.latest.release.version']}} |
        1.1系SNAPSHOT = {{publicProperties['dbflute.latest.snapshot.version']}}
    </div>
    <div class="col-sm-12">
        1.0系 = {{publicProperties['compatible10x.dbflute.latest.release.version']}} |
        1.0系SNAPSHOT = {{publicProperties['compatible10x.dbflute.latest.snapshot.version']}}
    </div>
  </div>
  <div class="row">
    プロジェクトリスト
    <span ng-repeat="clientBean in clientBeanList">
       <a href="" ng-click="setCurrentProject(clientBean)">{{clientBean.clientBean.project}}</a> |
    </span>
  </div>
  <a href="" ng-click="add()">追加</a> | <a href="" ng-click="edit()">編集</a> | <a href="" ng-click="cancelEdit()">編集キャンセル</a> | <a href="" ng-click="update(clientBean)">更新</a> | <a href="" ng-click="remove(clientBean)">削除</a>
  <div class="row" ng-show="clientBean">
    カレントプロジェクト
    <div class="col-sm-12">
        <div>project = <span ng-hide="editFlg">{{clientBean.project}}</span><input type="text" ng-model="clientBean.project" ng-show="editFlg" /></div>
        <div>{{'LABEL_DATABASE' | translate:translationData}} = <span ng-hide="editFlg">{{clientBean.database}}</span><select ng-model="clientBean.database" ng-options="database.databaseName as database.databaseName for database in classificationMap.databaseInfoDefMap" ng-show="editFlg"></select></div>
        <div>{{'LABEL_TARGET_LANGUAGE' | translate:translationData}} = <span ng-hide="editFlg">{{clientBean.targetLanguage}}</span><select ng-model="clientBean.targetLanguage" ng-options="targetLanguage for targetLanguage in classificationMap.targetLanguageMap" ng-show="editFlg"></select></div>
        <div>targetContainer = <span ng-hide="editFlg">{{clientBean.targetContainer}}</span><select ng-model="clientBean.targetContainer" ng-options="targetContainer for targetContainer in classificationMap.targetContainerMap" ng-show="editFlg"></select></div>
        <div>packageBase = <span ng-hide="editFlg">{{clientBean.packageBase}}</span><input type="text" ng-model="clientBean.packageBase" ng-show="editFlg" /></div>
        <div>url = <span ng-hide="editFlg">{{clientBean.databaseBean.url}}</span><input type="text" ng-model="clientBean.databaseBean.url" ng-show="editFlg" /></div>
        <div>schema = <span ng-hide="editFlg">{{clientBean.databaseBean.schema}}</span><input type="text" ng-model="clientBean.databaseBean.schema" ng-show="editFlg" /></div>
        <div>user = <span ng-hide="editFlg">{{clientBean.databaseBean.user}}</span><input type="text" ng-model="clientBean.databaseBean.user" ng-show="editFlg" /></div>
        <div>password = <span ng-hide="editFlg">{{clientBean.databaseBean.password}}</span><input type="text" ng-model="clientBean.databaseBean.password" ng-show="editFlg" /></div>
        <div>jdbcDriverJarPath = <span ng-hide="editFlg">{{clientBean.jdbcDriverJarPath}}</span><input type="text" ng-model="clientBean.jdbcDriverJarPath" ng-show="editFlg" /></div>
        <div>dbfluteVersion = <span ng-hide="editFlg">{{clientBean.dbfluteVersion}}</span><input type="text" ng-model="clientBean.dbfluteVersion" ng-show="editFlg" /></div>
        <div>url(system) = <span ng-hide="editFlg">{{clientBean.systemUserDatabaseBean.url}}</span><input type="text" ng-model="clientBean.systemUserDatabaseBean.url" ng-show="editFlg" /></div>
        <div>schema(system) = <span ng-hide="editFlg">{{clientBean.systemUserDatabaseBean.schema}}</span><input type="text" ng-model="clientBean.systemUserDatabaseBean.schema" ng-show="editFlg" /></div>
        <div>user(system) = <span ng-hide="editFlg">{{clientBean.systemUserDatabaseBean.user}}</span><input type="text" ng-model="clientBean.systemUserDatabaseBean.user" ng-show="editFlg" /></div>
        <div>password(system) = <span ng-hide="editFlg">{{clientBean.systemUserDatabaseBean.password}}</span><input type="text" ng-model="clientBean.systemUserDatabaseBean.password" ng-show="editFlg" /></div>
        <div>aliasDelimiterInDbComment = <span ng-hide="editFlg">{{clientBean.optionBean.aliasDelimiterInDbComment}}</span><input type="text" ng-model="clientBean.optionBean.aliasDelimiterInDbComment" ng-show="editFlg" /></div>
        <div>checkColumnDefOrderDiff = <span ng-hide="editFlg">{{clientBean.optionBean.checkColumnDefOrderDiff}}</span><input type="checkbox" ng-model="clientBean.optionBean.checkColumnDefOrderDiff" ng-show="editFlg" /></div>
        <div>checkDbCommentDiff = <span ng-hide="editFlg">{{clientBean.optionBean.checkDbCommentDiff}}</span><input type="checkbox" ng-model="clientBean.optionBean.checkDbCommentDiff" ng-show="editFlg" /></div>
        <div>checkProcedureDiff = <span ng-hide="editFlg">{{clientBean.optionBean.checkProcedureDiff}}</span><input type="checkbox" ng-model="clientBean.optionBean.checkProcedureDiff" ng-show="editFlg" /></div>
        <div>dbCommentOnAliasBasis = <span ng-hide="editFlg">{{clientBean.optionBean.dbCommentOnAliasBasis}}</span><input type="checkbox" ng-model="clientBean.optionBean.dbCommentOnAliasBasis" ng-show="editFlg" /></div>
        <div>generateProcedureParameterBean = <span ng-hide="editFlg">{{clientBean.optionBean.generateProcedureParameterBean}}</span><input type="checkbox" ng-model="clientBean.optionBean.generateProcedureParameterBean" ng-show="editFlg" /></div>
        <div>procedureSynonymHandlingType = <span ng-hide="editFlg">{{clientBean.optionBean.procedureSynonymHandlingType}}</span><input type="text" ng-model="clientBean.optionBean.procedureSynonymHandlingType" ng-show="editFlg" /></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input type="button" class="btn btn-primary" ng-click="task(clientBean, 'doc')" value="ドキュメント自動生成" />
      <input type="button" class="btn btn-primary" ng-click="task(clientBean, 'doc')" value="データ抽出" />
      <input type="button" class="btn btn-primary" ng-click="task(clientBean, 'doc')" value="スキーマの差分チェック" />
      <input type="button" class="btn btn-primary" ng-click="task(clientBean, 'doc')" value="DBスキーマ(再)構築 (ReplaceSchema)" />
      <p><a href="" ng-click="openSchemaHTML(clientBean)">テーブル定義を開く</a>(SchemaHTML)</p>
      <p><a href="" ng-click="openHistoryHTML(clientBean)">DB変更履歴を開く</a>(HistoryHTML)</p>
    </div>
  </div>
</div>
